.chat-box{
    height: 300px;
}

.details p{
    padding: 8px 16px;
}

.out{
    background-color: #2c3034;
    color: white;
    border-radius: 18px 18px 0px 18px;
}
.in{
    background-color: #fefefe;
    color: black;
    border-radius: 18px 18px 18px 0px;
}

.right {
    color: #4e4e4e;
    text-align: right;
    font-weight: normal;

}

.left {
    color: #ffffff;
    background-color: grey;
    border-radius: 15px 18px 18px 0px;
}
